@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title</h2>


<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Yhteystietoni</div>
    <div class="card-body">
        <h4 class="card-title">Eetu Tolvanen</h4>
        <p class="card-text">Kaskikalliontie 4 C 17</p>
        <p class="card-text">01200 Vantaa</p>
        <p class="card-text">eetutolvanen(at)outlook.com</p>
        <p class="card-text">050-4925903</p>
    </div>
</div>