@{
    ViewBag.Title = "Tietoja sovelluksesta";
}
<h2>@ViewBag.Title</h2>

<p>Tämä sovellus on tehty näytetyönä ohjelmistokehityksen ammattitutkinnon "Tietokantasovellusten toteuttaminen" -kurssille. Sovellus toimii myös ensimmäisenä työnäytteenäni ohjelmistokehityksen parista.</p>
