@using System.Globalization

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Tervetuloa käyttämään tilaussovellusta!</h1>
</div>

<h3>Sivuilla voit selata tuotteita sekä päivittää tuote- ja asiakastietoja. Tietojen muokkaus vaatii kirjautumisen.</h3>

<p>Tänään on @DateTime.Now</p>
