@using System.Globalization

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Tervetuloa käyttämään tilaussovellusta!</h1>
    
    <p>Sivuilla voit selata tuotteita sekä päivittää tuote- ja asiakastietoja. Tietojen muokkaus vaatii kirjautumisen.</p>
</div>

